<%- include("../../views/partials/admin/header.ejs") %>

<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- Card start -->
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add New Category</div>
                    </div>
                    <div class="card-body">
                        <!-- Row start -->
                        <div class="row gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                <form id="category-form" action="/admin/addcat" method="post" onsubmit="return handleForm(event)">
                                    <div class="field-wrapper">
                                        <input class="form-control" name="name" id="cat-name" type="text">
                                        <div class="field-placeholder">Category Name <span class="text-danger">*</span></div>
                                        <div class="form-text">
                                            Please enter Category name.
                                        </div>
                                        <div class="error-message" id="name-error" style="display:none; color:red;"></div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="field-wrapper" style="width: 45rem;">
                                        <input class="form-control" id="cat-des" name="description" type="text">
                                        <div class="field-placeholder">Description<span class="text-danger">*</span></div>
                                        <div class="error-message" id="description-error" style="display:none; color:red;"></div>
                                    </div>
                                </div>

                                <!-- Image Upload with Preview -->
                                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="image">Choose an image<span class="text-danger">*</span></label>
                                        <input type="file" class="form-control-file" id="image" name="image" accept="image/*" onchange="previewImage(event)">
                                    </div>
                                    <div class="form-group d-flex">
                                        <img id="img-preview" class="img-preview mt-3" src="https://via.placeholder.com/200" alt="Image Preview">
                                    </div>
                                </div> -->

                                <!-- Field wrapper end -->

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <a href="/admin/cat-table">
                                        <button class="btn btn-light" type="button">Cancel</button>
                                    </a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- Row end -->
                    </div>
                </div>
                <!-- Card end -->
            </div>
        </div>
        <!-- Row end -->
    </div>

    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById('img-preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        function handleForm(event) {
            event.preventDefault();
            if (!validateForm()) {
                return;
            }
            const name = document.getElementsByName('name')[0].value;
            const description = document.getElementsByName('description')[0].value;

            fetch('/admin/addcat', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({ name, description })
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops',
                    text: error.message
                });
            });
        }

        function validateForm() {
            clearErrorMessages();
            const name = document.getElementsByName('name')[0].value.trim();
            const description = document.getElementsByName('description')[0].value.trim();
            let isValid = true;

            if (name === "") {
                displayErrorMessage('name-error', 'Please enter a name');
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(name)) {
                displayErrorMessage('name-error', 'Category name should only contain alphabets');
                isValid = false;
            }
            if (description === "") {
                displayErrorMessage('description-error', 'Please enter category description');
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(description)) {
                displayErrorMessage('description-error', 'Category description should only contain alphabets');
                isValid = false;
            }
            return isValid;
        }

        function displayErrorMessage(elementId, message) {
            var errorElement = document.getElementById(elementId);
            errorElement.innerText = message;
            errorElement.style.display = 'block';
        }

        function clearErrorMessages() {
            const errorElements = document.getElementsByClassName('error-message');
            Array.from(errorElements).forEach((element) => {
                element.innerText = "";
                element.style.display = 'none';
            });
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- Content wrapper end -->
<%- include("../../views/partials/admin/footer.ejs") %>
